body{
    background-color: beige;
}

#flex{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#score{
    font-size: 4rem;
}

img{
    max-width: 20rem;
    height: auto;
}

canvas{
    background-color: white;
}
